body{
    background-color: rgb(235, 239, 0);
}


h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    font-style:italic;
}

h2{
    font-family: sans-serif;
    font-weight:lighter;
}